*       {  font-family: Century Gothic, Arial, Helvetica, Comic Sans MS, Verdana;   }
a       { text-decoration: none; color: red; font-weight: bold; }
a img   { border-width: 0px; }
a:hover {  text-decoration: underline; }

input[type="button"]
{
  border: solid 1px black;
  margin: 2px;
  width: 100px;
}

table.result, table#form
{
  border: solid black 1px;
  padding: 5px;
}

table.result_solar
{
  background: #FCC;
  min-width: 200px;
}

table.result_solar_here
{
  background: #CFC;
  min-width: 200px;
}

table.result_lunar
{
  background: #FFA;
  min-width: 200px;
}

table#main td
{
  text-align:center;
}

pre#debug
{
  border: solid black 1px; background-color: #FC1; font-family: Lucida Console; font-size: 8pt; max-height: 400px; overflow:scroll; width:100%;
}

div#form {
  float: left;
}
